In [4]:
import numpy as np
import pandas as pd

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [6]:
df=pd.read_csv('covid_toy.csv')

In [7]:
df

    age  gender fever cough       city has_covid
0    56  Female    No   Yes  Bangalore        No
1    69  Female    No    No      Delhi        No
2    46  Female    No    No    Chennai        No
3    32  Female   Yes   Yes     Mumbai       Yes
4    60  Female    No    No    Chennai        No
5    25  Female    No    No     Mumbai        No
6    38    Male   Yes    No     Mumbai        No
7    56    Male    No    No    Chennai        No
8    36  Female   Yes   Yes    Kolkata       Yes
9    40  Female    No    No     Mumbai        No
10   28  Female   Yes   Yes     Mumbai       Yes
11   28    Male    No    No    Chennai        No
12   41  Female    No    No     Mumbai        No
13   53    Male   Yes    No     Mumbai        No
14   57    Male   Yes   Yes    Chennai       Yes
15   41    Male   Yes    No    Chennai        No
16   20    Male   Yes   Yes      Delhi        No
17   39    Male   Yes    No    Kolkata        No
18   19  Female   Yes   Yes    Kolkata        No
19   41  Female   Yes    No     Mumbai        No

In [8]:
df.sample(5)

    age  gender fever cough     city has_covid
1    69  Female    No    No    Delhi        No
2    46  Female    No    No  Chennai        No
16   20    Male   Yes   Yes    Delhi        No
10   28  Female   Yes   Yes   Mumbai       Yes
14   57    Male   Yes   Yes  Chennai       Yes

In [9]:
df['city'].value_counts()

city
Mumbai       8
Chennai      6
Kolkata      3
Delhi        2
Bangalore    1
Name: count, dtype: int64

In [10]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [12]:
x_train

    age  gender fever cough       city
8    36  Female   Yes   Yes    Kolkata
10   28  Female   Yes   Yes     Mumbai
12   41  Female    No    No     Mumbai
16   20    Male   Yes   Yes      Delhi
6    38    Male   Yes    No     Mumbai
15   41    Male   Yes    No    Chennai
0    56  Female    No   Yes  Bangalore
7    56    Male    No    No    Chennai
3    32  Female   Yes   Yes     Mumbai
13   53    Male   Yes    No     Mumbai
19   41  Female   Yes    No     Mumbai
2    46  Female    No    No    Chennai
9    40  Female    No    No     Mumbai
17   39    Male   Yes    No    Kolkata
14   57    Male   Yes   Yes    Chennai
1    69  Female    No    No      Delhi

# Aam Zindagi

In [13]:
# adding simple imputer to fever col
si=SimpleImputer(strategy='most_frequent')
x_train_fever=si.fit_transform(x_train[['fever']])

# also the test data
x_test_fever=si.fit_transform(x_test[['fever']])
x_train_fever.shape

(16, 1)

In [14]:
# OrdinalEncoding -> cough
oe=OrdinalEncoder(categories=[['Yes','No']])
x_train_cough=oe.fit_transform(x_train[['cough']])
# also the test data
x_test_cough=oe.fit_transform(x_test[['cough']])
x_train_cough.shape

(16, 1)

In [15]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first',sparse_output=False)
x_train_gender_city = ohe.fit_transform(x_train[['gender','city']])

# also the test data
x_test_gender_city = ohe.fit_transform(x_test[['gender','city']])

x_train_gender_city.shape

(16, 5)

In [16]:
# Extracting Age
x_train_age = x_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
x_test_age = x_test.drop(columns=['gender','fever','cough','city']).values

x_train_age.shape

(16, 1)

In [17]:
x_train_transformed = np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)
# also the test data
x_test_transformed = np.concatenate((x_test_age,x_test_fever,x_test_gender_city,x_test_cough),axis=1)

x_train_transformed.shape

(16, 8)

# Mentos Zindagi

In [18]:
from sklearn.compose import ColumnTransformer

In [19]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(strategy='most_frequent'),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Yes','No']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [20]:
transformer.fit_transform(x_train).shape

(16, 8)

In [21]:
transformer.transform(x_test).shape

(4, 8)