In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("railway_train_dataset.csv")

In [5]:
df.head()

,Train_Number,Train_Name,Source_Station,Destination_Station,Departure_Time,Arrival_Time,Distance_km,Duration_hr,Days_of_Operation
0,12001,Shatabdi Express,New Delhi,Bhopal,06:00,13:30,707,7.5,"Mon, Wed, Fri"
1,12002,Rajdhani Express,Mumbai Central,Delhi,16:25,08:45,1384,16.3,Daily
2,12003,Duronto Express,Howrah,Pune,20:00,12:30,1926,16.5,"Tue, Thu, Sat"
3,12004,Garib Rath,Chennai Central,Bangalore,06:10,14:00,496,7.8,"Mon, Wed, Fri, Sun"
4,12005,Jan Shatabdi,Bengaluru,Mysuru,07:30,11:45,143,4.2,Daily

# opening a csv file from an URL

In [ ]:
# this code for fetching data from server
import requests
from io import StringIO

url =""
headers={"user-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS x  10.14; rv:66.0) Gecko/20100101 firefox/66.0"}
req = requests.get(url,headers=headers)
data= StringIO(req.text)

pd.read_csv(data)

# Sep parameter

In [ ]:
pd.read_csv("movie_title_metadata.tsv",sep="\t",names=['sno','names',etc])

# INdex_col parameter

In [6]:
pd.read_csv("railway_train_dataset.csv",)

,Train_Number,Train_Name,Source_Station,Destination_Station,Departure_Time,Arrival_Time,Distance_km,Duration_hr,Days_of_Operation
0,12001,Shatabdi Express,New Delhi,Bhopal,06:00,13:30,707,7.50,"Mon, Wed, Fri"
1,12002,Rajdhani Express,Mumbai Central,Delhi,16:25,08:45,1384,16.30,Daily
2,12003,Duronto Express,Howrah,Pune,20:00,12:30,1926,16.50,"Tue, Thu, Sat"
3,12004,Garib Rath,Chennai Central,Bangalore,06:10,14:00,496,7.80,"Mon, Wed, Fri, Sun"
4,12005,Jan Shatabdi,Bengaluru,Mysuru,07:30,11:45,143,4.20,Daily
5,12006,Intercity Express,Hyderabad,Vijayawada,15:45,20:30,623,4.75,Daily
6,12007,Humsafar Express,Ahmedabad,Jaipur,22:00,10:15,632,12.25,"Wed, Fri, Sun"
7,12008,Tejas Express,Lucknow,Kanpur,05:50,09:10,290,3.33,Daily
8,12009,Vande Bharat Express,Varanasi,Delhi,15:00,21:25,771,6.41,Daily
9,12010,Sampark Kranti,Pune,Nagpur,08:10,16:50,890,8.66,"Mon, Thu, Sat"

In [8]:
# this code convert Train_number into index
pd.read_csv("railway_train_dataset.csv",index_col="Train_Number")

,Train_Name,Source_Station,Destination_Station,Departure_Time,Arrival_Time,Distance_km,Duration_hr,Days_of_Operation
Train_Number,,,,,,,,
12001,Shatabdi Express,New Delhi,Bhopal,06:00,13:30,707,7.50,"Mon, Wed, Fri"
12002,Rajdhani Express,Mumbai Central,Delhi,16:25,08:45,1384,16.30,Daily
12003,Duronto Express,Howrah,Pune,20:00,12:30,1926,16.50,"Tue, Thu, Sat"
12004,Garib Rath,Chennai Central,Bangalore,06:10,14:00,496,7.80,"Mon, Wed, Fri, Sun"
12005,Jan Shatabdi,Bengaluru,Mysuru,07:30,11:45,143,4.20,Daily
12006,Intercity Express,Hyderabad,Vijayawada,15:45,20:30,623,4.75,Daily
12007,Humsafar Express,Ahmedabad,Jaipur,22:00,10:15,632,12.25,"Wed, Fri, Sun"
12008,Tejas Express,Lucknow,Kanpur,05:50,09:10,290,3.33,Daily
12009,Vande Bharat Express,Varanasi,Delhi,15:00,21:25,771,6.41,Daily
12010,Sampark Kranti,Pune,Nagpur,08:10,16:50,890,8.66,"Mon, Thu, Sat"

# Header parameter

In [ ]:
pd.read_csv("test.csv",header=1)

# use_cols parameter

In [12]:
pd.read_csv('railway_train_dataset.csv',usecols=['Train_Name','Source_Station','Destination_Station'])

             Train_Name   Source_Station Destination_Station
0      Shatabdi Express        New Delhi              Bhopal
1      Rajdhani Express   Mumbai Central               Delhi
2       Duronto Express           Howrah                Pune
3            Garib Rath  Chennai Central           Bangalore
4          Jan Shatabdi        Bengaluru              Mysuru
5     Intercity Express        Hyderabad          Vijayawada
6      Humsafar Express        Ahmedabad              Jaipur
7         Tejas Express          Lucknow              Kanpur
8  Vande Bharat Express         Varanasi               Delhi
9        Sampark Kranti             Pune              Nagpur

# Squeeze parameter--> when we require only one cols

In [20]:
pd.read_csv('railway_train_dataset.csv',usecols=['Train_Name'],squeeze=True )

             Train_Name
0      Shatabdi Express
1      Rajdhani Express
2       Duronto Express
3            Garib Rath
4          Jan Shatabdi
5     Intercity Express
6      Humsafar Express
7         Tejas Express
8  Vande Bharat Express
9        Sampark Kranti

# Skiprows/nrows parameter

In [21]:
pd.read_csv('railway_train_dataset.csv',skiprows=[0,1])

,12002,Rajdhani Express,Mumbai Central,Delhi,16:25,08:45,1384,16.3,Daily
0,12003,Duronto Express,Howrah,Pune,20:00,12:30,1926,16.50,"Tue, Thu, Sat"
1,12004,Garib Rath,Chennai Central,Bangalore,06:10,14:00,496,7.80,"Mon, Wed, Fri, Sun"
2,12005,Jan Shatabdi,Bengaluru,Mysuru,07:30,11:45,143,4.20,Daily
3,12006,Intercity Express,Hyderabad,Vijayawada,15:45,20:30,623,4.75,Daily
4,12007,Humsafar Express,Ahmedabad,Jaipur,22:00,10:15,632,12.25,"Wed, Fri, Sun"
5,12008,Tejas Express,Lucknow,Kanpur,05:50,09:10,290,3.33,Daily
6,12009,Vande Bharat Express,Varanasi,Delhi,15:00,21:25,771,6.41,Daily
7,12010,Sampark Kranti,Pune,Nagpur,08:10,16:50,890,8.66,"Mon, Thu, Sat"

In [4]:
pd.read_csv('railway_train_dataset.csv',nrows=10)

,Train_Number,Train_Name,Source_Station,Destination_Station,Departure_Time,Arrival_Time,Distance_km,Duration_hr,Days_of_Operation
0,12001,Shatabdi Express,New Delhi,Bhopal,06:00,13:30,707,7.50,"Mon, Wed, Fri"
1,12002,Rajdhani Express,Mumbai Central,Delhi,16:25,08:45,1384,16.30,Daily
2,12003,Duronto Express,Howrah,Pune,20:00,12:30,1926,16.50,"Tue, Thu, Sat"
3,12004,Garib Rath,Chennai Central,Bangalore,06:10,14:00,496,7.80,"Mon, Wed, Fri, Sun"
4,12005,Jan Shatabdi,Bengaluru,Mysuru,07:30,11:45,143,4.20,Daily
5,12006,Intercity Express,Hyderabad,Vijayawada,15:45,20:30,623,4.75,Daily
6,12007,Humsafar Express,Ahmedabad,Jaipur,22:00,10:15,632,12.25,"Wed, Fri, Sun"
7,12008,Tejas Express,Lucknow,Kanpur,05:50,09:10,290,3.33,Daily
8,12009,Vande Bharat Express,Varanasi,Delhi,15:00,21:25,771,6.41,Daily
9,12010,Sampark Kranti,Pune,Nagpur,08:10,16:50,890,8.66,"Mon, Thu, Sat"

# Encoding parameter

In [6]:
pd.read_csv('railway_train_dataset.csv',encoding='latin-1')

,Train_Number,Train_Name,Source_Station,Destination_Station,Departure_Time,Arrival_Time,Distance_km,Duration_hr,Days_of_Operation
0,12001,Shatabdi Express,New Delhi,Bhopal,06:00,13:30,707,7.50,"Mon, Wed, Fri"
1,12002,Rajdhani Express,Mumbai Central,Delhi,16:25,08:45,1384,16.30,Daily
2,12003,Duronto Express,Howrah,Pune,20:00,12:30,1926,16.50,"Tue, Thu, Sat"
3,12004,Garib Rath,Chennai Central,Bangalore,06:10,14:00,496,7.80,"Mon, Wed, Fri, Sun"
4,12005,Jan Shatabdi,Bengaluru,Mysuru,07:30,11:45,143,4.20,Daily
5,12006,Intercity Express,Hyderabad,Vijayawada,15:45,20:30,623,4.75,Daily
6,12007,Humsafar Express,Ahmedabad,Jaipur,22:00,10:15,632,12.25,"Wed, Fri, Sun"
7,12008,Tejas Express,Lucknow,Kanpur,05:50,09:10,290,3.33,Daily
8,12009,Vande Bharat Express,Varanasi,Delhi,15:00,21:25,771,6.41,Daily
9,12010,Sampark Kranti,Pune,Nagpur,08:10,16:50,890,8.66,"Mon, Thu, Sat"

# Skip bad lines

In [7]:
# this code for parser error
pd.read_csv('railway_train_dataset.csv',sep=';',encoding='latin-1',error_bad_lines=False)

TypeError: read_csv() got an unexpected keyword argument 'error_bad_lines'

# dtype parameter

In [ ]:
pd.read_csv('railway_train_dataset.csv',dtype={'colm':datatype}).info()

# handling data

In [ ]:
pd.read_csv('railway_train_dataset.csv',parse_dates=['date']).info()