In [1]:
import pandas as pd

In [10]:
df=pd.read_json("train_dataset.json")
df.head()

,train_number,train_name,source,destination,departure_time,arrival_time,distance_km,days_of_operation
0,12001,Shatabdi Express,New Delhi,Bhopal,2025-10-24 06:00:00,2025-10-24 14:00:00,707,"[Mon, Tue, Wed, Thu, Fri, Sat]"
1,12951,Mumbai Rajdhani Express,Mumbai Central,New Delhi,2025-10-24 16:35:00,2025-10-24 08:35:00,1384,[Daily]
2,12229,Lucknow Mail,Lucknow,New Delhi,2025-10-24 22:00:00,2025-10-24 06:45:00,493,[Daily]
3,12627,Karnataka Express,New Delhi,Bangalore City,2025-10-24 21:15:00,2025-10-24 06:40:00,2407,[Daily]
4,12301,Rajdhani Express,Howrah,New Delhi,2025-10-24 16:55:00,2025-10-24 10:00:00,1447,[Daily]

# Working with SQl

In [12]:
!pip install mysql.connector

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
      --------------------------------------- 0.3/11.9 MB ? eta -:--:--
     --- ------------------------------------ 1.0/11.9 MB 3.1 MB/s eta 0:00:04
     ------- -------------------------------- 2.4/11.9 MB 4.5 MB/s eta 0:00:03
     ----------- ---------------------------- 3.4/11.9 MB 4.7 MB/s eta 0:00:02
     --------------- ------------------------ 4.5/11.9 MB 4.8 MB/s eta 0:00:02
     ------------------ --------------------- 5.5/11.9 MB 4.9 MB/s eta 0:00:02
     ---------------------- ----------------- 6.6/11.9 MB 4.9 MB/s eta 0:00:02
     -------------------------- ------------- 7.9/11.9 MB 5.0 MB/s eta 0:00:01
     ------------------------------ --------- 9.2/11.9 MB 5.1 MB/s eta 0:00:01
     ---------------------------------- ----- 10.2/11.9 MB 5.2 MB/s eta 0:00:01
     -------------------------------------- - 11.5/11.9 MB 5.2 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247959 sha256=bd7ce03a3966ea0b76dce0609d84bcced8517a70064d6a39f24a381a3c2980cd
  Stored in directory: c:\users\shish\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [13]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'